[2021-09-30 19:01] SUSHANT731 opened #1 "Making Navbar fixed at top that is sticky Navbar"
Navbar will remain at top of the website while scrolling.Can I work on this issue ?

[2021-10-01 03:47] hdck007 opened #2 "Make the Navbar responsive"
![Screenshot_2021-10-01-09-11-19-10_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/68905333/135561854-d59dd72e-ce67-41d3-bb62-63a13f9937f3.jpg)

**The navbar can be made responsive, ideally we can add a hamburger menu on mobile devices**

Reference from [nextjs.org](https://nextjs.org/)

![Screenshot_2021-10-01-09-15-22-91_40deb401b9ffe8e1df2f1cc5ba480b12](https://user

[2021-10-01 04:13] Akshadaworlikar commented on #1
please assign this issue to me.

[2021-10-01 04:13] hdck007 opened #3 "Responsive sections"
### The sections should be made responsive

#### Before Change
![image](https://user-images.githubusercontent.com/68905333/135564187-c4ceb112-f010-49e0-a1c9-efadd1f83027.png)

#### After change
![image](https://user-images.githubusercontent.com/68905333/135564105-63cf1882-7933-48e1-99e6-48864b00e930.png)

[2021-10-01 04:18] hdck007 opened #4 "Adjust typography of the Hero title"
### Before Change
![image](https://user-images.githubusercontent.com/68905333/135564415-8c0100e5-c957-46a3-be63-41e52e71bf97.png)

### After Change
![image](https://user-images.githubusercontent.com/68905333/135564538-4aeafd5d-dbee-4b8d-80e9-8a2d6e1c06cb.png)

[2021-10-01 04:29] Akshadaworlikar commented on #3
please assign this issue to me

[2021-10-01 04:55] SayantaniDeb commented on #1
can you assign this task to me?

[2021-10-01 04:57] ZaidKhan2002 opened #5 "Make Team Section Responsive"
<img width="425" alt="Screenshot 2021-10-01 at 10 24 47 AM" src="https://user-images.githubusercontent.com/71960989/135567374-8333f312-ede2-40bc-8bd9-bb281dcf2170.png">

[2021-10-01 04:59] SayantaniDeb opened #6 "homepage background fix and scrollbar colour change"
please assign this task to me

[2021-10-01 05:05] Akshadaworlikar commented on #6
please assign this task to me

[2021-10-01 05:05] ZaidKhan2002 commented on #5
I want to work on this issue

[2021-10-01 05:16] ZaidKhan2002 commented on #2
Can I work on this ?

[2021-10-01 06:08] Chaitalishetty commented on #1
@SUSHANT731 yeah sure. Assigning this issue to you . Happy coding!

[2021-10-01 06:11] Chaitalishetty commented on #2
@hdck007 Assigning this issue to you . Happy coding!

[2021-10-01 06:13] Chaitalishetty commented on #3
@hdck007 Assigning this issue to you. Happy coding !

[2021-10-01 06:14] Chaitalishetty commented on #5
@ZaidKhan2002 Assigning this issue to you. Happy Coding!

[2021-10-01 06:16] Chaitalishetty commented on #6
@SayantaniDeb Assigning this issue to you. Happy coding!

[2021-10-01 06:27] kshitija-2001 opened #9 "Linking social media sites in contact us page"
LinkedIn and E-mail details not available in contact us page.
Please assign me this issue under Hacktoberfest 2021

[2021-10-01 06:30] Chaitalishetty commented on #9
@kshitija-2001 Assigning this issue to you. Happy coding!

[2021-10-01 06:40] hdck007 commented on #2
@Chaitalishetty you can assign @ZaidKhan2002 for this one, I have one issue already assigned

[2021-10-01 07:26] #9 closed

[2021-10-01 08:03] yogesh2k21 commented on #4
Please it assign me... If this is not done

[2021-10-01 08:20] Chaitalishetty commented on #2
Okay @hdck007 No problem

[2021-10-01 09:55] Akshadaworlikar commented on #2
can i work on this?

[2021-10-01 09:57] Chaitalishetty commented on #2
@Akshadaworlikar Sure . Assigning this issue to you. Happy Coding !

[2021-10-01 10:01] iatharva opened #15 "How to join the `HackClubRAIT` organization?"
**Describe the bug**
I know this is not the correct place to submit/ ask this, but there are no instructions on how one can join the organization.
I tried to reach out to people from org who are visible but they haven't mention any email id to contact and there are no options on Instagram and LinkedIn to message directly as the profiles are private.

Do guide me on how can I join the org?

**To Re

[2021-10-01 10:18] ZaidKhan2002 opened #16 "Error in README.md"
**Describe the bug**
In README.md navigation to project directory is incorrect as the name of directory should not be HackClubRAIT-Website

[2021-10-01 10:18] ZaidKhan2002 commented on #16
Can I solve that issue ?

[2021-10-01 10:27] TD-17 commented on #6
Hi! I want to contribute to this repository. Could you please assign this issue to me?

[2021-10-01 10:32] siddhi-244 commented on #15
Actually this is a club and we run some interviews to select our members.

[2021-10-01 10:34] Chaitalishetty commented on #15
@iatharva  This is an open source club started in rait college and we will soon be putting link to the socials of a the core team on our website

[2021-10-01 10:36] iatharva commented on #15
Okay, sure.

[2021-10-01 10:36] iatharva commented on #15
So what is the next step for me?

[2021-10-01 10:36] Chaitalishetty commented on #16
@ZaidKhan2002 you have already been assigned an issue . So solve that and then will assign this issue to you!

[2021-10-01 11:04] ZaidKhan2002 commented on #16
Created PR for that issue you can review that

[2021-10-01 11:24] sn2606 opened #18 "Project page fixing button placement, enhancing design and making it responsive"
For project cards, the button placement is wrong and styling could be improved.
[Page Link ](https://hackclubrait.github.io/HackClubRAIT-Website.github.io/projects.html)

<img width="960" alt="01 10 2021_16 46 45_REC" src="https://user-images.githubusercontent.com/58822437/135612073-9c01a2ab-62f8-4140-a72b-390b86eb550c.png">

<img width="258" alt="01 10 2021_16 47 48_REC" src="https://user-images.

[2021-10-01 11:26] Hemang417 opened #19 "MAKE PROJECT PAGE RESPONSIVE"
The Project page is not responsive

[2021-10-01 11:27] Hemang417 commented on #19
Can I have this issue ?

[2021-10-01 11:34] Hemang417 commented on #19
I want to work on this issue

[2021-10-01 11:37] Hemang417 commented on #19
![Screenshot 2021-10-01 170731](https://user-images.githubusercontent.com/74303960/135613801-6d01bc5e-ed0b-43bc-9b6d-2a855b5d943e.png)

[2021-10-01 12:11] developer-diganta opened #20 "Make home page banner centered and favicon addition"
![image](https://user-images.githubusercontent.com/65999534/135617566-513ef3a1-44c7-450c-acdc-9ae765ea6cfc.png)
The banner would look better if it covered the entire visible viewport on opening the home page. Also the banner would look better if centered. And favicon is missing. I would like to work on these issues.

[2021-10-01 12:21] Chaitalishetty commented on #18
@sn2606 Assigning this issue to you. Happy Coding !

[2021-10-01 12:22] Chaitalishetty commented on #19
@Hemang417 Assigning this issue to you. Happy Coding !

[2021-10-01 12:24] Chaitalishetty commented on #20
@developer-diganta Assigning this issue to you. Happy Coding !

[2021-10-01 12:32] SayantaniDeb opened #21 "Homepage-Responsive-Hamburger menu"
**Is your feature request related to a problem? Please describe.**
The homepage is not responsive

**Describe the solution you'd like**
The homepage will be made responsive with hamburger menu for navbar

[2021-10-01 12:33] SayantaniDeb commented on #21
Please assign this task to me.

[2021-10-01 12:39] Chaitalishetty commented on #21
This issue is already been assigned here #2.

[2021-10-01 12:39] #21 closed

[2021-10-01 12:57] SayantaniDeb commented on #2
can i work on this?

[2021-10-01 15:13] #1 closed

[2021-10-01 15:16] ShyamSunder149 opened #24 "Aligning tags in projects page and styling cards"
**Is your feature request related to a problem? Please describe.**
The tags mentioned in the cards in projects are not aligned properly

**Describe the solution you'd like**
I would like to align tags properly and style the project cards a little bit

**Describe alternatives you've considered**
the alternative would be removal of tags or keeping tags as bulletin points

### Are you participating u

[2021-10-01 15:20] #5 closed

[2021-10-01 15:37] Adityagupta1625 opened #25 "Adding a google sheet feature"
I want to add the data addition to google sheet on form submission so to make the contact data collected at one place in organised way.

[2021-10-01 15:38] AnirudhEyyani commented on #16
Can I solve that issue ?

[2021-10-01 15:38] Chaitalishetty commented on #24
@ShyamSunder149 Assigning this issue to you. Happy Coding !

[2021-10-01 15:59] copyNinja1219 commented on #16
can I solve this issue ?

[2021-10-01 16:13] Chaitalishetty commented on #25
@Adityagupta1625 Assigning this issue to you. Happy coding !

[2021-10-01 17:37] arunsingh009 commented on #2
can i work on this

[2021-10-01 17:53] arunsingh009 opened #29 "footer is not responsive can i work on it"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behavior**
A clear and concise description of what you expected to happen
![bug1](https://user-images.githubusercontent.com/66819980/135665491-3028e72c-9d08-4e63-8989-a60512722c84.png)
.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context abou

[2021-10-02 04:54] siddhi-244 opened #33 "I would like to add hover effects to the navbar."
**Is your feature request related to a problem? Please describe.**
I think hover effects make a website look pretty.

### Are you participating under any open-source program? ###
Hacktoberfest
( fill NA if none )

[2021-10-02 04:54] siddhi-244 commented on #33
Plzz assign this to me under Hacktoberfest

[2021-10-02 05:43] Chaitalishetty commented on #29
@arunsingh009 Assigning this issue to you. Happy Coding !

[2021-10-02 05:44] Chaitalishetty commented on #33
@siddhi-244 Assigning this issue to you . Happy Coding !

[2021-10-02 05:44] #15 closed

[2021-10-02 05:50] arunsingh009 commented on #29
Thanks For this i am glad this will be my first contribution in world of open source

[2021-10-02 06:12] ZaidKhan2002 commented on #4
Can I work on this issue ?

[2021-10-02 09:01] Chaitalishetty commented on #16
@ZaidKhan2002 Assgning this issue to you. Happy Coding !

[2021-10-02 09:58] #20 closed

[2021-10-02 10:11] ri-tae-ka opened #37 "Contact Us page responsiveness"
The contact us page is not responsive, i'd like to work on it under hacktoberfest.

[2021-10-02 11:13] vijeta-2000 opened #38 "Hackclub RAIT copyright footer"
Hackclub RAIT copyright footer to home page

### Are you participating under any open-source program? ###
hackoctoberfest 2021

[2021-10-02 11:13] vijeta-2000 commented on #38
i would like to work on this issue

[2021-10-02 11:51] ZaidKhan2002 opened #40 "HackClub Logo should be linked"
**Is your feature request related to a problem? Please describe.**
In my opinion when a user is on some Technical club website the logo will be playing an important rule. So it should be linked to main page (Hero Section).

**Describe the solution you'd like**
Linking that to Main Page (Hero Section)

**Describe alternatives you've considered**
Sizing the logo if possible

### Are you participatin

[2021-10-02 11:54] ZaidKhan2002 commented on #40
I would like to work on this issue.

[2021-10-02 15:56] Chaitalishetty commented on #37
@ri-tae-ka Assigning this issue to you . Happy Coding !

[2021-10-02 15:57] Chaitalishetty commented on #38
@vijeta-2000 Assigning this issue to you . Happy coding !

[2021-10-02 16:32] HardikSJain opened #42 "Spacing the sections to full screen, i.e, about hackclub, hackclub rait, vision."
**Is your feature request related to a problem? Please describe.**
It would look great if the sections are of the resolution of full screen, after making it full screen we'll need to make the text centralized. Also a slight transition delay of 500ms in the hover effect of navigation bar would look beautiful. One more change I can suggest is that on the home page "HackClub RAIT Initiative for stude

[2021-10-02 16:48] Chaitalishetty commented on #42
@HardikSJain Assigning this issue to you. Happy coding!

[2021-10-03 05:12] kshitija-2001 opened #45 "Linking websites on home page and logo redirecting to home"
**Describe the bug**
Home page links not redirecting properly and logo not redirecting to home

**Expected behavior**
links to be updated and clicking on logo it should redirect to home page

**Screenshots**
![image](https://user-images.githubusercontent.com/60540365/135740879-c45ab3e8-f1f5-4a8e-9088-32dab4054abe.png)

**Additional context**
Add any other context about the problem here.

### Are y

[2021-10-03 05:21] Amritanshu02 commented on #45
Hello, I would like to work upon this issue, could you assign it to me

[2021-10-03 06:03] ZaidKhan2002 commented on #45
I opened this issue yesterday #40

[2021-10-03 06:35] Chaitalishetty commented on #45
@kshitija-2001 The logo redirecting issue is already being raised here #40 but you can work on redirection of other links on homepage. Assigning this issue to you . Happy Coding !

[2021-10-03 06:37] kshitija-2001 commented on #45
Yes sure I will go ahead with linking other links

[2021-10-03 06:46] shreyamedehal opened #47 "home page banner responsiveness"
**Describe the bug**
making the home page banner responsive

**Screenshots**
![Home  (2)](https://user-images.githubusercontent.com/82696347/135743214-8d171426-5a23-410b-a41f-89a94f3c729c.png)

### Are you participating under any open-source program? ###
hacktoberfest

[2021-10-03 06:53] chandresh1339 commented on #45
I can work. please give me 1 chance.

[2021-10-03 06:57] ZaidKhan2002 opened #48 "Navbar not sticky on mobile and tablet size"
**Describe the bug**
Navbar is not sticky on mobile and tablet size.

**Expected behavior**
It should be sticky in every device

[2021-10-03 06:59] ZaidKhan2002 commented on #45
@chandresh1339 you can look at issue #40 and ask @Chaitalishetty to assign you the task

[2021-10-03 07:07] chandresh1339 commented on #45
Sure. @Chaitalishetty kindly assign me the task.

[2021-10-03 07:23] Deepchavan1 commented on #48
@ZaidKhan2002 please assign this issue to me. I would like to work on it.

[2021-10-03 08:13] Mitushi-23 opened #49 "The site is not responsive."
**Describe the bug**
 The contents are not at its place in whole site i.e navbar, teams, opportunities, projects and contact form.

[2021-10-03 08:30] #16 closed

[2021-10-03 08:30] #24 closed

[2021-10-03 08:36] Chaitalishetty commented on #47
@shreyamedehal Assigning this issue to you. Happy Coding !

[2021-10-03 08:38] Chaitalishetty commented on #48
@ZaidKhan2002 Assigning this issue to you . Happy Coding !

[2021-10-03 08:41] Chaitalishetty commented on #49
@Mitushi-23 Assigning this issue to you . Happy coding !

[2021-10-03 15:00] #6 closed

[2021-10-03 18:00] #47 closed

[2021-10-04 05:00] #49 closed

[2021-10-04 07:22] ri-tae-ka commented on #37
The issue has already been fixed!
I'll close this request

[2021-10-04 07:22] #37 closed

[2021-10-04 11:10] #45 closed

[2021-10-04 11:39] ZaidKhan2002 commented on #4
@Chaitalishetty or @hdck007 can you close this issue as this issue is already being solved.

[2021-10-04 11:40] ZaidKhan2002 commented on #40
@Chaitalishetty can you assign this ??

[2021-10-04 11:47] ZaidKhan2002 opened #54 "Hover Effect on contact us page for social links"
**Is your feature request related to a problem? Please describe.**
On Contact us page we should have hover effect just like we have it on our footer section of website.

**Describe the solution you'd like**
Hover Effect

[2021-10-04 19:19] HardikSJain opened #57 "the logo at the nav bar can be inserted in an anchor tag"
**Is your feature request related to a problem? Please describe.**
the logo at the nav bar can be inserted in an anchor tag so that it can redirect to index.html from anywhere... This will be a helpful feature.

### Are you participating under any open-source program? ###
hacktober

[2021-10-05 05:44] Chaitalishetty commented on #57
@HardikSJain Assigning this issue to you . Happy Coding !

[2021-10-05 06:14] pruthvirajjadhav1 opened #59 "To add a new logo"
I have made a new logo for HackCluvRAIT in which the Background is blurred please assign me so I can create a PR.
![hackclubrait-logo](https://user-images.githubusercontent.com/73253354/135970134-e118ce3c-7197-4d30-bd16-57f431a33534.png)

[2021-10-05 07:36] shreyamedehal opened #60 "wrap the text around the image"
**Describe the bug**
Wrap the text around the image in the home page sections ("About HackClub" and "HackClub RAIT) in responsive view.

**Expected behavior**
Responsiveness and Enhanced UI

**Screenshots**
![home section](https://user-images.githubusercontent.com/82696347/135979975-7e523c60-6cab-4e47-a778-b4b9992ad853.png)

### Are you participating under any open-source program? ###
Hacktoberfes

[2021-10-05 08:25] arunsingh009 opened #61 "footer links are not looking good"
**Describe the bug**
footer links is not looking good

**Expected behavior**
Footer link is not looking good specially contact us.
![image](https://user-images.githubusercontent.com/66819980/135987175-4aa2e94b-c911-41a6-9938-088913057175.png)
![image](https://user-images.githubusercontent.com/66819980/135987392-bc334f0d-cb1f-492f-9d34-9ad7ec9fc183.png)

**Screenshots**
If applicable, add screensho

[2021-10-05 08:25] arunsingh009 commented on #61
if valid issue please assign this to me

[2021-10-05 09:07] Chaitalishetty commented on #60
@shreyamedehal Assigning this issue to you . Happy Coding !

[2021-10-05 09:09] Chaitalishetty commented on #61
@arunsingh009 Assigning this issue to you. Happy Coding !

[2021-10-05 09:10] Chaitalishetty commented on #59
@pruthvirajjadhav1 Assigning this issue to you . Happy Coding !

[2021-10-05 09:32] rishikeshreddyakkireddy commented on #54
can you assign this issue to me, I would like to work on this issue.

[2021-10-05 10:30] addisonhardley opened #63 "Making the website more elegant"
**Is your feature request related to a problem? Please describe.**
Not really a problem. It includes the logo being too big (no padding on the navbar), the logo doesn't take you back to home page (index.html), navbar is not aligned to center properly, and more.

**Describe the solution you'd like**
I would like to solve all the issues mentioned above, that includes, making the navbar more usable a

[2021-10-05 10:32] addisonhardley commented on #63
I would like to work on the above issues, please assign them to me. Also, hacktoberfest labels would be appreciated. Thanks!

[2021-10-05 11:12] Chaitalishetty commented on #63
@addisonhardley the issues you have mentioned is already been assigned but you can surely work on the issue of contributers name.

[2021-10-05 11:25] addisonhardley commented on #63
Sure, I'm making the contributors page super cool, super soon! Would you please assign me this issue? I'll also be attaching before/after images here shortly.

[2021-10-05 12:05] ZaidKhan2002 opened #64 "Content part not responsive"
**Describe the bug**
Content part in main page is not responsive in mobile size

**Expected behaviour**
Images should be on top and then text

**Screenshots**
<img width="965" alt="Screenshot 2021-10-05 at 5 33 00 PM" src="https://user-images.githubusercontent.com/71960989/136018987-5012f731-1c93-4ad9-b07f-c7d292f25488.png">

[2021-10-05 12:09] ZaidKhan2002 commented on #54
@rishikeshreddyakkireddy ask maintainer @Chaitalishetty

[2021-10-05 16:38] #33 closed

[2021-10-06 04:50] #38 closed

[2021-10-06 04:53] #59 closed

[2021-10-06 04:57] Chaitalishetty commented on #64
@ZaidKhan2002 Assigning this issue to you .Happy Coding !

[2021-10-06 05:02] Chaitalishetty opened #67 "Bug in Contributers page"
**Describe the bug**
In contributors page, the followers and following is not correct.

[2021-10-06 05:14] vijeta-2000 opened #68 "Contact Form With Tilt Image Hover Effect"
**Describe the bug**
Improvement of ui design in contact form.

### Are you participating under any open-source program? ###
Hackoctoberfest 2021

[2021-10-06 06:41] Chaitalishetty commented on #68
@vijeta-2000 Assigning this issue to you. Happy Coding !

[2021-10-06 11:55] HardikSJain commented on #57
@addisonhardley already added this feature in his/her pr and got merged to the main repo.

[2021-10-06 11:56] #57 closed

[2021-10-06 12:10] AryanshShrivastava opened #70 "Navbar of home screen has an extra feature of underline while the rest of the screens don't have this"
**Is your feature request related to a problem? Please describe.**
Navbar of home screen has an extra feature of underline while the rest of the screens don't have this.

### Are you participating under any open-source program? ###
Hacktober Fest

[2021-10-06 12:48] HardikSJain opened #71 "Updating the animation on scroll of teams section"
**Is your feature request related to a problem? Please describe.**
Teams section would look better if we bring the left card from left side and vice versa.
Also updating the animation at various places.

### Are you participating under any open-source program? ###
hacktober

[2021-10-06 15:32] #64 closed

[2021-10-06 20:14] #42 closed

[2021-10-07 06:23] siddhi-244 opened #75 "Add links to team page !"
**Is your feature request related to a problem? Please describe.**
The links on team page are not working.

**Describe the solution you'd like**
I would like to fix that.

### Are you participating under any open-source program? ###
( fill NA if none )
Hacktoberfest

[2021-10-07 08:14] Chaitalishetty commented on #75
@siddhi-244 Assigning this issue to you . Happy Coding !

[2021-10-07 08:50] Chaitalishetty commented on #67
@addisonhardley as you already contributed in the project is it okay with you if I assign this issue to @pratik1424 so he can make the necessary changes.

[2021-10-07 09:15] siddhi-244 opened #78 "Hover effect to all pages !"
**Is your feature request related to a problem? Please describe.**
The hover effect is only added to index.html.

**Describe the solution you'd like**
i would like to add this effect on all the pages.

### Are you participating under any open-source program? ###
Hacktoberfest

[2021-10-07 09:15] siddhi-244 commented on #78
please assign this to me !

[2021-10-07 09:18] pratik1424 commented on #67
@addisonhardley true, scraping data from each of the contributor's account is taking too much time and making the page unresponsive. @Chaitalishetty what should we do, we can just keep contributions and followers or go with @addisonhardley 's solution.

[2021-10-07 11:27] kshitija-2001 opened #79 "Links of accounts for team"
**Describe the bug**
contact details of team member are not linked

**Expected behavior**
each and every members contact details should be assigned

**Screenshots**
![image](https://user-images.githubusercontent.com/60540365/136375401-e0e804e4-e1e2-4b4f-88e0-54213e759312.png)

**Additional context**
Add any other context about the problem here.

### Are you participating under any open-source prog

[2021-10-07 11:39] Chaitalishetty commented on #67
@pratik1424 you can keep only the number of contributions

[2021-10-07 12:31] #71 closed, assigned to HardikSJain

[2021-10-07 13:30] AryanshShrivastava opened #80 "On going to any page it shows only home as the selected page on the nav bar."
**Is your feature request related to a problem? Please describe.**
On going to any page it shows only home as the selected page on the nav bar.

### Are you participating under any open-source program? ###
Hacktober Fest

[2021-10-08 07:54] addisonhardley commented on #67
@pratik1424 Thanks :D.
@Chaitalishetty, Could you assign this issue to me? I'll create a PR after that.

[2021-10-08 10:08] siddhi-244 opened #84 "Fix Margin in team page."
**Is your feature request related to a problem? Please describe.**
Margin in teams page icons is not looking good.

**Describe the solution you'd like**
i would like to solve this.

### Are you participating under any open-source program? ###
( fill NA if none )
hacktoberfest

[2021-10-08 13:49] #80 closed, assigned to AryanshShrivastava

[2021-10-08 13:50] Chaitalishetty commented on #84
@siddhi-244 Assigning this issue to you . Happy Coding !

[2021-10-08 22:19] HardikSJain opened #85 "Updating Contactlink -> icons"
**Is your feature request related to a problem? Please describe.**
Currently those icons doesn't have any hover effect and looks kinda boring.

**Describe the solution you'd like**
Adding hover effects over those icons would look great.

### Are you participating under any open-source program? ###
hacktober

currently :->
![1](https://user-images.githubusercontent.com/81674309/136633157-0011a399-8

[2021-10-09 09:12] Chaitalishetty commented on #85
@HardikSJain Assigning you this issue .Happy coding !

[2021-10-09 09:12] #67 closed

[2021-10-09 09:16] #78 closed, assigned to siddhi-244

[2021-10-09 11:09] ZaidKhan2002 opened #91 "There should be some padding in footer between logo and HackClub"
**Is your feature request related to a problem? Please describe.**
There should be some space between hackclub and logo in footer.

**Describe the solution you'd like**
Spacing

### Are you participating under any open-source program? ###
Hacktober 2021

[2021-10-10 06:26] #84 closed, assigned to siddhi-244

[2021-10-10 06:37] #85 closed

[2021-10-10 06:57] m3g4n127001 commented on #91
shall I redesign the footer and make it better?

[2021-10-11 05:05] #54 closed

[2021-10-12 12:29] HardikSJain opened #93 "NavBar looks a bit empty"
**Is your feature request related to a problem? Please describe.**
NavBar looks a bit empty on the left side.

**Describe the solution you'd like**
Adding a text "HackClub" beside the logo would look better

**Additional context**
I thought of red color, but you can suggest change of color of your choice

** ScreenShots **
![1](https://user-images.githubusercontent.com/81674309/136956104-ce3fe5eb-

[2021-10-12 18:02] HardikSJain opened #94 "hover effect on cards of contributors would look good."
**Is your feature request related to a problem? Please describe.**
hover effect on cards of contributors would look good like changing the scale slightly to zoom in the card on which our cursor is on.

**Describe the solution you'd like**
adding transition to css properties of those cards

### Are you participating under any open-source program? ###
hacktoberfest

[2021-10-14 06:23] ok524 commented on #94
I would like to take this!

[2021-10-14 10:55] yogesh2k21 opened #97 "can i add a scroll indicator in navbar?"

[2021-10-15 08:52] madhhuurrii opened #99 "Redesign cards in project page"
**Describe the bug**

The cards in project page is looking squeezed in mobile view due to extra padding and margin it seems

**Expected behavior**

May be we can reduce the padding so that the cards look good in mobile view.

**Screenshots**

**Additional context**
Add any other context about the problem here.

### Are you participating under any open-source program? ###

NA

[2021-10-15 13:25] Chaitalishetty commented on #99
@madhhuurrii assigning this issue to you. Happy Coding !

[2021-10-15 16:46] #94 closed, assigned to nobody

[2021-10-16 17:53] #93 closed

[2021-10-18 18:03] #91 closed, assigned to ZaidKhan2002

[2021-10-19 05:41] #97 closed

[2021-11-03 10:49] #61 closed

[2021-11-03 10:50] #29 closed

[2022-01-27 10:34] Chaitalishetty opened #104 "Enhancement of Contact Us page"

[2022-01-27 10:58] Chaitalishetty opened #105 "Add Preloader"
Add an animated preloader for the website which should be related to the website theme

[2022-01-27 11:02] Chaitalishetty opened #106 "Hover effects on icons in team section"
![image](https://user-images.githubusercontent.com/66556168/151346415-100474ac-b45b-4c25-a92d-87d21e13477d.png)

[2022-01-27 11:19] Chaitalishetty opened #107 "Remove scrollbar in mobile view"

[2022-01-27 14:15] sorba160 commented on #105
I want to work on this issue , please allow me to do so.
Thank you

[2022-01-27 16:46] Soham56 commented on #106
Hey ! can I contribute on this issue ?

[2022-01-27 17:37] Soham56 commented on #106
can you once confirm, that if I get the opportunity to contribute, then I have to create hover effects on those classes write?

<img width="553" alt="Screenshot 2022-01-27 230328" src="https://user-images.githubusercontent.com/74524863/151412602-21059c15-efd7-4437-9bb1-3c7a0a1f2ec1.png">

[2022-01-27 17:43] Chaitalishetty commented on #106
Hey @Soham56 Wait till 1st jan , after that I will surely assign the issue to you.

[2022-01-27 18:41] Soham56 commented on #106
Thank you so much @Chaitalishetty, I guess you want to say 1st February write?

Ok, no problem.

[2022-01-28 05:54] Srijita-Mandal commented on #106
I can contribute on that issue

[2022-01-28 05:58] Srijita-Mandal commented on #104
Can I contribute on this issue? Though there is no certain description provided, can I do this under mentorship and discussion?

[2022-01-28 06:00] varunwho commented on #107
Hey @Chaitalishetty can I work on this?

[2022-01-28 06:08] Chaitalishetty commented on #106
Oh sorry 😂 , 1st Feb.

[2022-01-28 07:37] Devmindtk commented on #105
I would like to work on this issue @Chaitalishetty  please assign it to me.

[2022-01-28 07:41] Devmindtk commented on #107
I would like to work on this issue @Chaitalishetty  please assign it to me.

[2022-01-28 08:12] Soham56 commented on #106
It's ok 😊

[2022-01-28 12:06] rohit-raj25 commented on #106
I also wanna contribute to this issue

[2022-01-28 12:27] mnnkhndlwl commented on #107
I also wanna contribute to this issue

[2022-01-28 12:42] Chaitalishetty commented on #105
Do check the readme section.

[2022-01-28 12:43] Chaitalishetty commented on #106
Do check the readme section.

[2022-01-28 12:43] Chaitalishetty commented on #107
Do check the readme section.

[2022-01-31 02:44] SabariGanesh-K commented on #104
I have relevant skills. Would love to take up this issue. Kindly assign it to me😀

[2022-01-31 02:50] SabariGanesh-K opened #109 "Add JWOC in opportunities page"
**Describe the solution you'd like**
The opportunities page has Hactoberfest added. But this project has also participated in JWOC.But it's missing. Hence if approved, I would Jwoc under opportunities section.

### Are you participating under any open-source program? ###
Yes, JWOC

[2022-01-31 03:11] SabariGanesh-K commented on #109
You can assign on feb 1.Sorry I thought today is feb 1 and opened it🤦‍♂️

[2022-01-31 05:12] Chaitalishetty commented on #109
No worries @SabariGanesh-K you can close this issue and create a new issue tomorrow.

[2022-01-31 07:12] Adwipkashyap1234 commented on #104
I want to contribute. Kindly assign it to me

[2022-01-31 07:15] Sanghu01 commented on #107
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 07:15] Jyotishman22 commented on #105
I want to work on this issue , please allow me to do @Chaitalishetty THANK YOU

[2022-01-31 07:16] Sanghu01 commented on #3
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 07:16] Sanghu01 commented on #104
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 07:16] Sanghu01 commented on #68
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 07:17] Sanghu01 commented on #106
Hey, This is Sangh Priya Gautam .I am intrested in contributing to this project but how can i work in this project .

[2022-01-31 18:30] sorba160 commented on #105
I want to work on this issue , please allow me to do so @Chaitalishetty .
Thank you

[2022-01-31 18:30] ZaidMujahid commented on #105
I want to work on this issue under JWOC

[2022-01-31 18:30] mnnkhndlwl commented on #107
I want to work on this issue under JWOC

[2022-01-31 18:30] Srijita-Mandal commented on #105
Hii, I want to work on this issue under JWOC

[2022-01-31 18:30] ShrutiKapure commented on #106
I want to work on this issue under **JWOC**.

[2022-01-31 18:30] ZaidMujahid commented on #104
I want to work on this issue under JWOC

[2022-01-31 18:31] ZaidMujahid commented on #107
I want to work on this issue under JWOC

[2022-01-31 18:33] combatantash commented on #106
I want to work on this issue under JWOC

[2022-01-31 18:33] PrajwalDhule commented on #106
hello, I would like to work on this issue

[2022-01-31 18:34] PrajwalDhule commented on #104
hello, I would like to work on this issue

[2022-01-31 18:34] Chaitalishetty commented on #104
@ZaidMujahid Assigning this issue to you . Happy Coding !

[2022-01-31 18:35] Chaitalishetty commented on #105
@sorba160 Assigning this issue to you . Happy Coding !

[2022-01-31 18:36] Chaitalishetty commented on #106
@Arun5023 Assigning this issue to you . Happy Coding !

[2022-01-31 18:36] Chaitalishetty commented on #107
@mnnkhndlwl Assigning this issue to you . Happy Coding !

[2022-01-31 18:41] ZaidMujahid commented on #104
Can you elaborate like what enhancement are required?

[2022-01-31 18:42] ZaidMujahid commented on #104
@Chaitalishetty Can you please elaborate like what enhancement are required?

[2022-02-01 00:20] Yasshu55 opened #110 "Click on social media icon in Contact us page link fails to open in new tab"
When we click on the Social media icon on the contact page it doesn't redirect to the new tab instead it loads in the current tab, whereas on the home page it redirects, Hope to fix this issue please assign it to me

[2022-02-01 06:23] Mohith234 commented on #110
I want to work on this issue under JWOC

[2022-02-01 06:29] Chaitalishetty commented on #110
@Yasshu55 Won't you be needing everyone's social media for that?

[2022-02-01 06:36] Sanghu01 commented on #104
I want to contribute in this issue .

[2022-02-01 06:37] Sanghu01 commented on #106
I want to contribute in this issue .

[2022-02-01 07:07] codervivek5 commented on #110
I want to work on this issue under JWOC

[2022-02-01 07:08] codervivek5 commented on #107
I want to work on this issue under JWOC

[2022-02-01 07:08] codervivek5 commented on #106
I want to work on this issue under JWOC

[2022-02-01 07:09] codervivek5 commented on #104
I want to work on this issue under JWOC

[2022-02-01 07:10] codervivek5 commented on #68
I want to work on this issue under JWOC

[2022-02-01 07:11] codervivek5 commented on #60
I want to work on this issue under JWOC

[2022-02-01 07:11] codervivek5 commented on #3
I want to work on this issue under JWOC

[2022-02-01 07:14] Sanghu01 commented on #107
In what time to submit and how. plz tell me

[2022-02-01 07:25] SabariGanesh-K commented on #109
Assign to me👏👏.. If possible make it medium, I will enhance the page to make it responsive and friendly too

[2022-02-01 08:49] aadrikasingh18 commented on #109
I want to work on this issue under JWOC

[2022-02-01 08:51] Dhyey17 commented on #110
I want to work on this issue under JWOC

[2022-02-01 08:55] aadrikasingh18 commented on #68
I want to work on this issue under JWOC

[2022-02-01 08:58] Chaitalishetty commented on #109
@SabariGanesh-K you can add more open source opportunities like gsoc, gssoc, etc. Would be expecting minimum 3 more opportunities.Assigning you this issue. Happy coding!

[2022-02-01 08:59] Chaitalishetty commented on #109
Yes go ahead!

[2022-02-01 09:03] aadrikasingh18 opened #114 "There is a issue in Navbar Even when we are going to a different page HOME is highlighted."
1. I can fix this pls assign it to me
2. I want to work on this issue under JWOC

[2022-02-01 09:04] Chaitalishetty commented on #114
@aadrikasingh18 Assigning this issue to you. Happy Coding!

[2022-02-01 09:11] SabariGanesh-K commented on #109
Okayy. Sure. Thanks👍👏

[2022-02-01 12:27] #107 closed

[2022-02-01 15:31] #106 closed

[2022-02-01 15:54] #3 closed

[2022-02-01 15:55] #18 closed

[2022-02-01 15:55] #60 closed

[2022-02-01 15:55] #68 closed

[2022-02-01 16:09] #110 closed

[2022-02-01 16:14] Chaitalishetty opened #120 "Add animated background to the homepage of the website."
**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/66556168/152005854-538a2a38-0642-4aef-9d9e-e1fae0686c7e.png)
The background looks very simple try to add animation and make it interesting.

Also while taking up this issue mention how you are going to implement it!

[2022-02-01 16:24] SabariGanesh-K commented on #120
I would like to take up this issue. I already have 2 , but I have completed issue #119 in this repo. So once you merge it , kindly assign this to me. I have relevant skills and can complete this. @Chaitalishetty

[2022-02-01 17:24] aadrikasingh18 commented on #114
Done

[2022-02-01 18:09] riiyaaa commented on #120
I would love to work on it! I plan on making the page look more interactive in two ways:

- I will either add text animation or
- I will add background animation

[2022-02-01 18:11] Chaitalishetty opened #122 "Add floating scroll to top button"

[2022-02-01 18:12] #122 closed

[2022-02-01 19:32] #114 closed

[2022-02-01 19:44] whiteHatpro commented on #120
i want to work in this issue under JWOC

[2022-02-01 19:45] whiteHatpro commented on #104
i want to work in this issue under JWOC

[2022-02-01 20:22] BRAVO68WEB opened #123 "Rename the Repository"
**Describe the bug**
The repository name is inappropriate. To use GitHub Page efficiently, rename the repository name from ``HackClubRAIT-Website.github.io`` to ``HackClubRAIT.github.io``. By doing this, your website URL will change from ``https://hackclubrait.github.io/HackClubRAIT-Website.github.io/`` to just ``https://hackclubrait.github.io/``

**Additional context**
Refer [here](https://pages.

[2022-02-02 13:32] Chaitalishetty commented on #123
@BRAVO68WEB Thank you for raising this issue !! Really appreciate it ✨

[2022-02-02 13:35] BRAVO68WEB commented on #123
Yours welcome

[2022-02-02 13:35] BRAVO68WEB commented on #123
Solved

[2022-02-02 13:36] Chaitalishetty commented on #120
@riiyaaa Assigning you this issue . Happy coding !

[2022-02-02 15:45] SabariGanesh-K commented on #109
Issue done and merged at #119 .
Hence closing it

[2022-02-02 15:45] #109 closed

[2022-02-03 10:11] riiyaaa commented on #120
Added animated background. The transparent boxes will float upwards.

![animated backdrop](https://user-images.githubusercontent.com/87305761/152322510-7dd478f3-acaa-4f6f-8e33-cb378209c55f.jpg)

[2022-02-04 08:43] #104 closed

[2022-02-04 10:41] Chaitalishetty opened #125 "Improve the cards UI in the teams section and make it responsive too"

[2022-02-04 11:39] sayan404 commented on #125
I want to work in this issue under JWOC.

[2022-02-04 13:58] Chaitalishetty commented on #125
@sayan404 Assigning you this issue . Happy Coding !

[2022-02-05 04:58] #120 closed

[2022-02-05 12:14] AtriSukul1508 commented on #105
I would like to work on this issue under JWOC

[2022-02-05 12:27] Chaitalishetty commented on #105
@AtriSukul1508 @ZaidMujahid  @Srijita-Mandal Assigning you all this issue . Happy Coding !

[2022-02-05 13:52] ZaidMujahid commented on #105
@Chaitalishetty You have assign this issue to all, which one will you consider then?

[2022-02-05 15:08] Chaitalishetty opened #126 "Remove the margin on top"
There is a margin on top in contributors, team and opportunities section in mobile view

![image](https://user-images.githubusercontent.com/66556168/152647312-aee8f1aa-e279-48f2-bc8e-368c8ede64ea.png)
![image](https://user-images.githubusercontent.com/66556168/152647359-14236fe7-9e57-4aa5-959d-162ad318929c.png)
![image](https://user-images.githubusercontent.com/66556168/152647383-4048a4df-bcf8-412

[2022-02-05 15:11] Chaitalishetty commented on #105
I will merge the PR that looks the best!
You all also can also send your implementation on discord to confirm.

[2022-02-05 17:39] Yasshu55 commented on #126
I would like to work on this

[2022-02-06 05:16] Chaitalishetty commented on #126
@Yasshu55 Assigning this issue to you. Happy Coding !

[2022-02-06 13:27] #126 closed

[2022-02-10 14:46] #105 closed

[2022-02-10 20:23] AtriSukul1508 commented on #125
I would like to work on this issue under JWOC

[2022-02-10 20:48] Atif0604 commented on #125
I would like to work on this issue under JWOC

[2022-02-11 08:44] whiteHatpro commented on #125
I would like to work on this issue under JWOC

[2022-02-11 14:02] ronitblenz opened #130 "Modify the Oppurtunities cards to look better"
Kindly, assign me to this issue

Thanks

[2022-02-11 15:02] Chaitalishetty commented on #130
@ronitblenz Are you working under JWOC?

[2022-02-11 15:05] ronitblenz commented on #130
Yes, I am

[2022-02-11 15:07] Chaitalishetty opened #131 "Enhance the inputs in the contact us page"
Improve the UI of inputs

[2022-02-11 15:11] ronitblenz commented on #130
Yeah sure, assign me

[2022-02-11 15:22] Chaitalishetty opened #132 "Remove the underline"
In home page, there is an underline on hover.
![image](https://user-images.githubusercontent.com/66556168/153616549-a7a4fa29-7fb3-4222-a121-daaa01b2dd36.png)

[2022-02-11 15:25] sayan404 commented on #132
I want work in this issue under JWOC.

[2022-02-11 15:27] Chaitalishetty opened #133 "Enhance the UI of projects section"

[2022-02-11 16:05] Chaitalishetty commented on #132
@sayan404 Assigning you this issue. Happy Coding !

[2022-02-11 16:18] AtriSukul1508 commented on #133
I would like to contribute to this issue under JWOC

[2022-02-11 16:30] sayan404 commented on #132
I want to work on this issue under JWOC.

[2022-02-11 16:34] Chaitalishetty commented on #132
@sayan404 Assigning you this issue. Happy Coding!

[2022-02-11 17:36] SantanuShaw commented on #131
I want to contribute under jwoc

[2022-02-11 17:38] Chaitalishetty commented on #131
@SantanuShaw Assigning you this issue. Happy Coding!

[2022-02-12 07:35] ronitblenz commented on #130
Kindly check and merge me PR

[2022-02-12 11:29] #132 closed

[2022-02-12 15:38] ronitblenz commented on #130
I have done the responsive thing, as directed, Plz merge my pr

[2022-02-12 16:17] #133 closed

[2022-02-12 18:40] #130 closed, assigned to ronitblenz

[2022-02-12 20:54] whiteHatpro commented on #131
I want to work on this issue under JWoC

[2022-02-13 05:17] Chaitalishetty commented on #131
@whiteHatpro Assigning you this issue. Happy Coding!!

[2022-02-13 05:36] #125 closed

[2022-02-13 06:42] Chaitalishetty opened #139 "Make the image in opprortunities tab responsive"
![image](https://user-images.githubusercontent.com/66556168/153742031-30130293-ced4-4d26-850a-57be12445480.png)

[2022-02-13 06:46] Chaitalishetty opened #140 "Add discord icon in footer contacts"
![image](https://user-images.githubusercontent.com/66556168/153742336-585545aa-db7d-49c6-b84b-7ded1cfbf637.png)
Add discord icon here

[2022-02-13 07:08] AtriSukul1508 opened #141 "Improve the UI of the contributors page"
**Is your feature request related to a problem? Please describe.**
Yes ,want to improve the UI of the contributors page

**Describe the solution you'd like**
Will improve the cards UI and the overall UI of the page
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or

[2022-02-13 07:09] AtriSukul1508 commented on #141
I would like to contribute to this issue under JWOC

[2022-02-13 07:12] Chaitalishetty commented on #141
@AtriSukul1508 Assigning this issue to you . Happy Coding!

[2022-02-13 07:13] AtriSukul1508 commented on #140
I would like to contribute to this issue under JWOC

[2022-02-13 07:29] sayan404 commented on #139
I want to work on this issue under JWOC.

[2022-02-13 07:36] Chaitalishetty commented on #139
@sayan404 Assigning you this issue . Happy Coding !

[2022-02-13 07:37] Chaitalishetty commented on #140
@AtriSukul1508 Assigning you this issue. Happy Coding !

[2022-02-13 12:11] riiyaaa commented on #140
I would like to work on it under JWOC.

[2022-02-13 14:29] whiteHatpro commented on #131
@Chaitalishetty i have done the changes for the inputs page
kindly review it!!

[2022-02-13 16:06] #140 closed

[2022-02-13 16:36] pranavsuriya-sr opened #144 "Navigate-to-top Button"
Adding a button to navigate to the top of the main website will make the website a user friendly one.

[2022-02-13 16:37] pranavsuriya-sr commented on #144
I want to work on this issue under JWOC.

[2022-02-13 17:47] Chaitalishetty commented on #144
@pranavsuriya-sr Assigning this issue to you. Happy Coding !

[2022-02-14 06:35] Aniket-508 opened #145 "Image overflow in the 2nd section and 3rd section of home page in mobile view"
![Screenshot (353)](https://user-images.githubusercontent.com/71957423/153812358-68421dec-9e7a-45e2-8f5c-7da76e898482.png)

[2022-02-14 06:36] Aniket-508 commented on #145
@Chaitalishetty I want to work on this issue under JWoC.

[2022-02-14 07:10] Chaitalishetty commented on #145
@Aniket-508 Assigning you this issue. Happy Coding!

[2022-02-14 07:24] whiteHatpro commented on #131
@Chaitalishetty please review it!!

[2022-02-14 10:15] sayan404 opened #150 "The "<" in the <hackclub/> logo of Opportunity section is missing"
**Describe the bug**
The "<" in the <hackclubrait/> logo of Opportunity section  is missing.

**Expected behavior**
It should show the logo <HackClub/> in the nav bar of Opportunity section.
**Screenshots**
 ##
![Screenshot 2022-02-14 152805](https://user-images.githubusercontent.com/95490367/153844588-e8808bc1-9f67-4818-8490-c7f3cae702ad.jpg)

**Additional context**
Add any other context about th

[2022-02-14 10:16] sayan404 commented on #150
I want work in this issue under JWOC.

[2022-02-14 12:54] #139 closed

[2022-02-14 13:00] #131 closed

[2022-02-14 13:02] Chaitalishetty commented on #150
@sayan404 Assigning you this issue. Happy Coding !!

[2022-02-14 13:16] #150 closed

[2022-02-14 17:38] #145 closed

[2022-02-14 17:49] #141 closed

[2022-02-15 10:52] #144 closed

[2022-02-15 11:06] pranavsuriya-sr opened #153 "Smooth scrolling"
**Is your feature request related to a problem? Please describe.**
Adding a smooth scrolling feature to the navigate to top button will ensure smooth transition of the page.

[2022-02-15 11:07] pranavsuriya-sr commented on #153
I want to work on this issue under JWOC

[2022-02-16 01:37] Chaitalishetty commented on #153
@pranavsuriya-sr Assigning you this issue. Happy Coding !

[2022-02-16 11:32] #153 closed

[2022-02-17 07:17] wasimreja opened #155 "Enhance contact us page"
Enhance the contact us page UI and make it more minimalistic.

[2022-02-17 07:18] wasimreja commented on #155
I would like to work on this under JWoC.

[2022-02-17 12:17] Chaitalishetty commented on #155
@wasimreja Assigning you this issue .Happy coding!

[2022-02-18 19:37] AtriSukul1508 opened #156 "Add SearchBar in the contributors page"
**Is your feature request related to a problem? Please describe.**
Add a searchbar in the contributors page

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screensh

[2022-02-18 20:35] codervivek5 commented on #156
I want to work on it

[2022-02-19 09:17] Chaitalishetty commented on #156
@AtriSukul1508 Assigning you this issue . Happy coding !

[2022-02-19 16:39] #156 closed

[2022-02-20 11:39] #155 closed

[2022-02-21 19:53] wasimreja opened #159 "Enhance blogs page"
Enhance the blogs page UI.

[2022-02-22 13:19] gullapalli9482 opened #160 "Updating the heading of the readme file."
The heading of the readme file contains "This is the official website of the HackClubRAIT website". Providing the link of the website(through hyperlinking) would improve the readability of the readme file instead of searching for the website link. Or changing the heading would give a good impression for first-timers.

[2022-02-22 13:20] gullapalli9482 commented on #160
I would like to work on this issue , do assign me

[2022-02-22 19:17] riiyaaa commented on #159
I would like to work on it under jwoc (if it does not include altering JS as I am not very good at it)

[2022-02-23 12:55] Chaitalishetty commented on #159
@wasimreja Assigning you this issue. Happy Coding!

[2022-02-23 12:56] Chaitalishetty commented on #160
@gullapalli9482 Assigning you this issue. Happy Coding!

[2022-02-24 05:44] YashAryanTheCoder commented on #160
## I would like to work on this issue , do assign me

[2022-02-26 16:07] sayan404 commented on #160
If this issue is unsolved , I would like to work in this issue under JWOC .

[2022-02-27 12:20] #159 closed

[2022-03-01 10:30] wasimreja opened #162 "Integrate floating back to top button"
Integrate floating back to top button into other pages and make it more smooth.

[2022-03-04 04:21] Faraaz2633 commented on #162
Hey, I would like to work on this issue,
could you please assign it to me

[2022-03-21 19:12] Diksha4111 commented on #162
Can I get the opportunity to work on this issue?

[2022-03-22 13:26] #160 closed

[2022-07-19 07:36] masroor07 commented on #162
Hey, i have forked the repo and already integrated the float cak to the top button into rest of the pages, please assign the issue to me!

[2022-07-21 14:29] masroor07 commented on #162
the issue is still active?

[2022-07-24 11:07] khushimarothi commented on #162
Hey can you please assign me this issue.

[2022-07-31 18:12] Akanksha-Sen opened #164 "Documentation"
**Is your feature request related to a problem? Please describe.**
Want to improve documentation of website.

**Describe the solution you'd like**
Will change some errors and enhance the textual part.

### Are you participating under any open-source program? ###
HCSOC'22

[2022-08-05 03:33] khushimarothi opened #165 "Fix cards of opportunities page"
**Describe the bug**
The cards on the opportunities page are extremely big in size in desktop view and too slim in responsive view.

**Expected behavior**
I think the grid of three cards will look good and a bit smaller size that fits in desktop view will be suitable.

### Are you participating under any open-source program? ###
Yes, HCSOC''22

[2022-08-06 10:41] khushimarothi commented on #165
@Chaitalishetty

[2022-08-06 12:10] Chaitalishetty commented on #165
@khushimarothi Assigning you this issue. Happy Coding!

[2022-08-06 14:16] khushimarothi commented on #165
Mistakenly removed the assignment.
Curious to know why level 1. thanks.

[2022-08-07 07:13] Chaitalishetty commented on #165
As it is about responsiveness i gave level 1. Don't worry about that if the pr is good then will give level 2.

[2022-08-07 16:47] khushimarothi commented on #165
There is a huge mess since there is only one css file for the whole website. Kindly separate them for different pages by commenting.

[2022-08-09 04:46] Soumya-Kushwaha opened #167 "Add other project cards on PROJECTS page"
**Is your feature request related to a problem? Please describe.**
The projects page currently has only 4 project cards.
I believe the projects page should display all the projects under this program.

**Describe the solution you'd like**
I offer to add cards for other projects which are not currently added.

### Are you participating under any open-source program? ###
HackClubRAIT

[2022-08-13 12:02] Chaitalishetty commented on #167
@Soumya-Kushwaha Those projects are the ones from HackclubRAIT. You dont need to add anything.

[2022-08-14 09:38] #165 closed

[2022-08-17 19:33] #167 closed